footer {
    /*Display Design*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Color-scheme*/
    background-color: black;
    color: white;

    /*Spacing*/
    padding: 0.725rem 2.25rem;
    margin-top: 2.25rem;
}